

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-body {
  padding: 20px; 
}

.card-deck {
  display: block; 
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #666;
}


@media (max-width: 768px) {
  .card-body {
    padding: 15px; 
  }

  .container {
    padding-top: 10px;
  }

  .card-title {
    font-size: 1rem;
  }
}


h1 {
  text-align: center; 
  font-family: Arial, sans-serif; 
  font-weight: bold; 
  font-size: 2rem; 
  margin-bottom: 20px; 
}
