/* customer.component.css */

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-body {
  padding: 20px; /* Add padding for card body */
}

.card-deck {
  display: block; /* Display cards as block elements */
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #666;
}

/* For smaller devices, adjust padding and font size */
@media (max-width: 768px) {
  .card-body {
    padding: 15px; /* Adjust padding for smaller devices */
  }

  .container {
    padding-top: 10px;
  }

  .card-title {
    font-size: 1rem;
  }
}
/* customer.component.css */

h1 {
  text-align: center; /* Center align the header */
  font-family: Arial, sans-serif; /* Specify font family */
  font-weight: bold; /* Set font weight to bold */
  font-size: 2rem; /* Adjust font size */
  margin-bottom: 20px; /* Add margin bottom for spacing */
}
